$background: url(./triangle_pattern.png);
$completo: 100%;
$grisclaro:#dcdad8;
$color3: #322d59;
$grisoscuro: #899eac;

$fondos:(
    intro-inicio: #484080,
    intro-final: #aa304a,
    about-inicio: #2981b8,
    about-final: #3a3366,
    client-inicio: #216793,
    client-final: #078a72
)