@import 'sass/_variables';
@import 'sass/_mixin';
@import 'sass/_angles';
@import 'sass/_intro';

a {
    text-decoration: none;
    word-wrap: break-word;
  }
.color-wrapper {
    background-position: top center;
    background-attachment: fixed;
    background-image: $background;
}

.outer-container {
    width: 100%;
}
  
.inner-container {
    width: $completo;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}
.navbar.navbar-default{
    margin-bottom: 0;
}
#portafolio{
    background-color: $grisclaro;
}
#stats {
    background-color: $color3;
}
