@import 'sass/_variables';
@import 'sass/_mixin';
@import 'sass/_angles';
@import 'sass/_intro';
@import 'sass/_about';
@import 'sass/_clients';

a {
    text-decoration: none;
    word-wrap: break-word;
}

.navbar.navbar-default{
    margin-bottom: 0;
}
.color-wrapper {
    background-position: top center;
    background-attachment: fixed;
    background-image: $background;
}

.outer-container {
    width: $completo;
}
  
.inner-container {
    width: $completo;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

@each $id in portofolio, twitter{
    .#{$id}{
        background-color: $grisclaro;
    }
}

#stats {
    background-color: $color3;
}
#instagram {
    background-color: $white;
}

